@font-face {
    font-family: 'ptserif-regular';
    src: url('media/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptserif-bold';
    src: url('media/fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p {
    color: #333333;
    font-family: 'ptserif-regular';
}
