@font-face {
    font-family: 'ptserif-regular';
    src: url('media/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ptserif-bold';
    src: url('media/fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
p {
    color: #333333;
    font-family: 'ptserif-regular';
}

h1 {
    color: #151515;
    font-family: 'ptserif-bold';
}
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #d9d9ff;
    color: #151515;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
